<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resonate - Influence OS</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/hello.css">

</head>
<body>

  <!-- Navbar -->
  <nav>
    <div class="logo">
      <div style="width:32px; height:32px;"><img style="    width: 39px;
    height: 32px;" src="../static/image-removebg-preview.png" alt=""></div>
      <div>
        <span>NexCollab</span>
        <small>Deal Pakki</small>
      </div>
    </div>

    <div class="nav-links">
      <a href="#" class="active">Home</a>
      <a href="#">Campaigns</a>
      <a href="#">Creators</a>
      <a href="#">Insights</a>
      <a href="#">Pricing</a>
    </div>

    <a href="{{ url_for('login') }}" class="btn-demo">Click here to Login</a>
  </nav>

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-text">
      <h1>Jahan Brands Aur Influencers Milke Banaye Perfect Deals!</h1>
      <p style="font-size:15px ;">We make partnerships easy, transparent, and impactful by creating a seamless space where opportunities flow effortlessly between influencers and sponsors. Whether you're an influencer aiming to monetize your talent, grow your personal brand, and collaborate with trusted companies, or a sponsor searching for the perfect face to represent your vision, our platform bridges the gap with precision and reliability. It’s more than just a meeting point — it’s where meaningful collaborations take shape, campaigns come alive, and both sides thrive through authentic connections.</p>
   <BR>
    <br> <a style="text-align: center; margin-left: 150px;" href="{{ url_for('login') }}" class="btn-demo">Click here to Login</a> </div>
    <div class="hero-image">
      <img  src="../static/image-removebg-preview (1).png" alt="Hero Image">
    </div>
   
  </section>

</body>
</html>
